{% extends 'template.html' %}

{% block js %}
<script src="{{STATIC_URL}}js/change_pass.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

	<div class="row-fluid">

		<div class="span12">

			<h4>Change User Password</h4>
			<hr />

			<div class="form-horizontal">
			{% if active or req_pass %}

				{% if req_pass %}
					<input type="hidden" id="req_email" value="{{email}}" />
				{% else %}
  				<div class="control-group">
					<label class="control-label" for="cur_pass">Current Password</label>
					<div class="controls">
						<input type="password" id="cur_pass" name="cur_pass">
						<span class="help-inline"></span>
					</div>
				</div>
				{% endif %}

				<div class="control-group">
					<label class="control-label" for="new_pass">New Password</label>
					<div class="controls">
						<input type="password" id="new_pass" name="new_pass">
						<span class="help-inline"></span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="new_pass_conf">Verify New Password</label>
					<div class="controls">
						<input type="password" id="new_pass_conf" name="new_pass_conf">
						<span class="help-inline"></span>
					</div>
				</div>

				<div class="control-group">
    				<div class="controls">
    					<button id="btn_pass_change" class="btn btn-primary">Update!</button>
    				</div>
    			</div>

			{% else %}

				<div class="control-group">
					<label class="control-label" for="user_email">Enter username or email</label>
					<div class="controls">
						<input type="text" id="user_email" name="user_email" class="input-xlarge">
					</div>
				</div>

				<div class="control-group">
    				<div class="controls">
    					<button id="btn_send_pass" class="btn btn-primary">Request New Password!</button>
    				</div>
    			</div>

			{% endif %}

			</div>
		</div>

	</div>

	<div class="row-fluid">

		<div class="span8">

			<div id="change_pass_response" class="alert">Please enter required credentials to change your password.</div>

		</div>

	</div>

{% endblock %}