{% extends 'template.html' %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/login.js"></script>
{% endblock %}

{% block content %}

<form class="form-horizontal">

	<div class="row">

		<div class="span12">

			<h3>User Login</h3>

			<hr />

			<div class="control-group">

				<label for="user" class="control-label">User</label>

				<div class="controls">
					<input type="text" name="user" id="user" placeholder="Enter username" />
				</div>

			</div>

			<div class="control-group">

				<label for="pass" class="control-label">Password</label>

				<div class="controls">
					<input type="password" name="pass" id="pass" placeholder="Enter password" />
				</div>

			</div>
		
		</div>

	</div>

	<div class="row">

		<div class="span1"></div>

		<div class="span11">

			<button class="btn btn-primary" id="login">Login!</button>

			<small><a href="/users/changePass">Forgot Password?</a></small> | 
			<small><a href="/users/register">Register!</a></small>

		</div>

	</div>

</form>

<div class="row">

	<div class="span8">

		<div id="login_response" class="alert">Please enter required credentials to authenticate user</div>

	</div>

</div>

{% endblock %}