{% extends 'template.html' %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/portal.js"></script>
{% endblock %}

{% block content %}
<div class="page-header">
	<h3>Portal <small>for {{ user.username|capfirst }}</small></h3>
</div>

<div class="row">
	
	<div class="col-md-2">
	
		<a href="/users/logout" class="btn btn-info">Logout</a> <br /> <br />

		<h5>Management</h5>
		<hr />

		<a href="/users/updateInfo">Update Information</a><br />

		<a href="/users/changePass">Change Password</a> <br />

		<br />
		{% if validated %}
			<p class="text-success"><small>Email Validated!</small></p>
		{% else %}
			<button id="email_validate" class="btn btn-success">Validate Email</button><br /><br />
			<div id="email_validate_info" class="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<span></span>
			</div>
		{% endif %}

		<br />
		<a href="/users/rm" class="btn btn-danger">Remove Account</a> <br />

	</div>

	<div class="col-md-10">

		<ul class="nav nav-tabs" id="dcm_tabs">
  			<li class="active"><a href="#favorites" data-toggle="tab">Favorites</a></li>
  			<li><a href="#comments" data-toggle="tab">Comments</a></li>
  		</ul>

  		<div class="tab-content">
  		
  			<div class="tab-pane active tab_content" id="favorites">
  				<div class="row">
  					<div class="col-md-12" style="padding: 15px;">
  						
						<div class="alert alert-info">Favorites section is a work in progress.</div>

  					</div>
  				</div>
  			</div>

  			<div class="tab-pane tab_content" id="comments">
  				<div class="row">
  					<div class="col-md-12" style="padding: 15px;">
  						
						<div class="alert alert-info">Comments section is a work in progress.</div>

  					</div>
  				</div>
  			</div>

  		</div>

	</div>

</div>
{% endblock %}