{% extends 'template.html' %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/update_info.js"></script>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="/users">Portal</a></li>
	<li class="active">Update Info</li>
</ol>

<div class="page-header">
	<h3>Update User Information <small> for {{ user.username|capfirst }}</small></h3>
</div>

{% if user %}
<form class="form-horizontal" role="form">

	<div class="form-group">

		<label for="first_name" class="col-sm-2 control-label">First Name</label>

		<div class="col-sm-10">
			<input type="text" class="form-control" name="first_name" id="first_name" value="{{user.first_name}}" placeholder="Enter first name" />
			<span class="help-block"></span>
		</div>

	</div>

	<div class="form-group">

		<label for="last_name" class="col-sm-2 control-label">Last Name</label>

		<div class="col-sm-10">
			<input type="text" class="form-control" name="last_name" id="last_name" value="{{user.last_name}}" placeholder="Enter last name" />
			<span class="help-block"></span>
		</div>

	</div>

	<div class="form-group">

		<label for="email" class="col-sm-2 control-label">Email</label>

		<div class="col-sm-10">
			<input type="text" class="form-control" name="email" id="email" value="{{user.email}}" placeholder="Enter email" />
			<!-- <span class="help-block">email validation will be reset if changed</span> -->
			<span class="help-block">email update is a work in progress</span>
		</div>

	</div>


	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-primary" id="save_info">Save!</button>
		</div>

	</div>

</form>
{% endif %}

<div class="row">

	<div class="col-md-12">

		<div id="info_response" class="alert alert-info">Update information as needed and then save it!</div>

	</div>

</div>

{% endblock %}