{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/viewer.css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/viewer.js"> </script>
{% endblock %}

{% block content %}

<ol class="breadcrumb"><li><a href="/main/explore">Search</a></li><li>Study</li></ol>

{% if study %}
<div class ="row">
	<div class="col-md-12" id="dcm_header">
		<h5>Study UID: {{ study.UID }}</h5>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<small>SOP Class UID: {{ study.sop_class_uid }} <br />
		Study Date: {{ study.study_date }}</small>
	</div>
</div>
<br /><br />
{% endif %}

<div class="row">
	{% for image in images %}
	<div class="col-md-3">
		<a href="/viewer/series/{{ image.dcm_series.UID }}" class="tp" data-trigger="hover" data-placement="top" data-content="{{ image.dcm_series.UID }}">
			{% if image.image_gen %}
			<img src="/media/{{ image.filename }}_thumb.png" class="img-thumbnail dcmthumb" />
			{% else %}
			<!-- <img src="holder.js/150x150" class="img-thumbnail dcmthumb" /> -->
			{% endif %}
			<br />
			UID: {{ image.dcm_series.UID|slice:":14" }} ...
		</a> <br />
		<small>
			{% if image.dcm_series.series_description %} Series Description: {{ image.dcm_series.series_description }} <br /> {% endif %}
			{% if image.dcm_series.modality %} Modality: {{ image.dcm_series.modality }} <br /> {% endif %}
			{% if image.dcm_series.body_part_examined %} Body Part Examined: {{ image.dcm_series.body_part_examined }} <br /> {% endif %}
			{% if image.dcm_series.laterality %} Laterality: {{ image.dcm_series.laterality }} <br /> {% endif %}
			{% if image.dcm_series.institution_name %} Institution: {{ image.dcm_series.institution_name }} <br /> {% endif %}
			{% if image.dcm_series.manufacturer %} Manufacturer: {{ image.dcm_series.manufacturer }} <br /> {% endif %}
			{% if image.dcm_series.date %} Series Date: {{ image.dcm_series.date }} <br /> {% endif %}
			{% if image.dcm_series.series_number %} Series Number: {{ image.dcm_series.series_number }} <br /> {% endif %}
		</small>
	</div>
{% if forloop.counter|divisibleby:4 %}
</div>
<hr />
<div class="row">
{% endif %}
	{% endfor %}
</div>

{% if msg %}
<div class="alert alert-danger">{{ msg }}</div>
{% endif %}
<br /><br />
{% endblock %}
