{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/view.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/viewer.css" />

{% if image.image_gen %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.10.3.custom.min.css" />
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.min.js"> </script>

{% if image.image_gen %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.10.3.custom.min.js"> </script>
<script type="text/javascript" src="{{STATIC_URL}}js/caman.full.min.js"> </script>
{% endif %}
<script type="text/javascript" src="{{STATIC_URL}}js/viewer.js"> </script>

{% if image %}
<script type="text/javascript">
	//obj singleton used in viewer.js
	var dcm = {

		"dicom": {{ dcm|safe }},
		"image_gen": {% if image.image_gen %}true{% else %}false{% endif %},
		"datatable": null

	};
</script>
{% endif %}

<script type="text/javascript" src="{{STATIC_URL}}js/view.js"> </script>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li>
		<a href="/main/explore">Search</a>
	</li>
	<li>
		{% if study %}
		<a href="/viewer/study/{{ study.UID }}">Study</a>
		{% else %}
		Study
		{% endif %}
	</li>
	<li>
		{% if series %}
		<a href="/viewer/series/{{ series.UID }}">Series</a>
		{% else %}
		Series
		{% endif %}
	</li>
	<li>DCM</li>
</ol>

<div class ="page-header">
	<h4>
		{% if series %}
		{{ image.UID }}
		{% else %}
		???
		{% endif %}
	</h4>
</div>

{% if image %}
<div class="row">

	<div class="col-md-8">

		<div class="row">
			<div class="col-md-2">
				
				{% if image.image_gen %}
				<h6><input type="checkbox" id="filters_on" /> Filters <small>BETA</small></h6>
				<hr />

				<div id="filters_menu">
					Contrast
					<div id="contrast" class="sliders"></div>
					Brightness
					<div id="brightness" class="sliders"></div>
					Exposure
					<div id="exposure" class="sliders"></div>
					Saturation
					<div id="saturation" class="sliders"></div>
					Vibrance
					<div id="vibrance" class="sliders"></div>
					Sharpen
					<div id="sharpen" class="sliders"></div>
					Hue
					<div id="hue" class="sliders"></div>
					Gamma
					<div id="gamma" class="sliders"></div>
					<br />
					<button id="invert" class="btn btn-warning">Invert</button> <br />
					<button id="greyscale" class="btn btn-default" style="margin-top: 5px;">Greyscale</button> <br />
					<button id="reset" class="btn btn-link">Reset</button>
				</div>


				{% endif %}

			</div>
			<div class="col-md-10">
				<h4>Diagnostic Image <span id="zoom" class="glyphicon glyphicon-zoom-in"></span> </h4>
				{% if image.image_gen %}
				<div id="dcm_cont">
				<img src="/media/{{ image.filename }}.png" style="height: 100%;" class="img-rounded img-responsive" id="viewer_image" />
					{% for item in all_images %}
					<img src="/media/{{ item.filename }}.png" style="display: none;" class="img-rounded img-responsive preload_dcm" id="dcm_{{ item.filename }}" />
					{% endfor %}
				</div>
				<div id="viewer_status" class="alert alert-warning" style="margin: 5px;">Image Rendered</div>
				{% endif %}
			</div>
		</div>

	</div>

	<div class="col-md-4">

		<h4>Series Gallery</h4>
		<div class="row">
			<div class="col-md-12" id="study_gallery">
				{% if all_images %}
					{% for item in all_images %}

						{% if item.image_gen %}
						<a href="/viewer/viewer/{{ item.UID }}" class="dcm_series tp" data-trigger="hover" data-placement="top" data-content="{{ item.image_number }}">
							<img src="/media/{{ item.filename }}_thumb.png" fname="{{ item.filename }}" class="img-thumbnail" style="margin: 2px; width: 100px; height: 100px;" />
						</a>
						{% else %}
						<!-- <img src="holder.js/100x100" class="img-thumbnail" style="margin: 2px; width: 100px; height: 100px;" /> -->
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>

	</div>

</div>
<br />
<div class="row">
	<div class="col-md-12">

		<ul class="nav nav-tabs" id="dcm_tabs">
  			<li class="active"><a href="#data" data-toggle="tab">Meta-Data</a></li>
  			<li><a href="#discussion" data-toggle="tab">Discussion</a></li>
  			<li><a href="#export" data-toggle="tab">Download</a></li>
  		</ul>

  		<div class="tab-content">
  			<div class="tab-pane active" style="margin: 20px;" id="data">
			</div>

  			<div class="tab-pane" style="margin: 20px;" id="discussion">

				<div id="discussion_response" class="alert alert-info">Discussion is a work in progress.</div>

			</div>

  			<div class="tab-pane" style="margin: 20px;" id="export">

				<a class="btn btn-info" href="/down/zip/dcm/{{ image.UID }}">Download DCM</a> <br /> <br />
				<a class="btn btn-primary" href="/down/zip/series/{{ series.UID }}">Download Series</a> <br /> <br />
				<a class="btn btn-success" href="/down/zip/study/{{ study.UID }}">Download Study</a> <br /> <br />

			</div>

		</div>

	</div>
</div>
{% else %}
	{% if msg %}
	<div class="alert alert-danger">{{ msg }}</div>
	{% endif %}
{% endif %}
<br /><br />
{% endblock %}
