{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.dataTables.css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/caman.full.min.js"> </script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.min.js"> </script>
<script type="text/javascript">
	//obj singleton used in dcmview.js
	var dcm = {

		"study": {{study|safe}},
		"series": {{series|safe}},
		"dicom": {{dcm|safe}},
		"datatable": null

	};
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/dcmview.js"> </script>
{% endblock %}

{% block content %}
<div class ="row-fluid">
	<div class="span12" id="dcm_header">
	</div>
</div>

<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<div class="span2">
				
				<h6>Tools</h6>
				<hr />

				Contrast
				<input type="text" id="contrast" class="input-mini filter" value="0" />
				Brightness
				<input type="text" id="brightness" class="input-mini filter" value="0" />
				Exposure
				<input type="text" id="exposure" class="input-mini filter" value="0" />
				Gamma
				<input type="text" id="gamma" class="input-mini filter" value="1" />
				Hueee
				<input type="text" id="hue" class="input-mini filter" value="0" />
				Saturation
				<input type="text" id="saturation" class="input-mini filter" value="0" />
				<br />
				<button id="invert" class="btn">Invert</button>

			</div>
			<div class="span10">
				<h4>Image</h4>
					<img src="" style="height: 500px; width: 500px;" class="img-polaroid" id="dcmview_image" />
			</div>
		</div>
	</div>
	<div class="span3">
		<h4>Study Gallery</h4>
		<div class="row-fluid">
			<div class="span12" id="study_gallery">
				Gallery
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<h4>Tags</h4>
		<table id="dcm">
			<thead>
				<tr>
					<th>Element</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
