{% extends 'template.html' %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}

{% with series|first as first_series %}
<ol class="breadcrumb"><li><a href="/main/explore">Search</a></li><li><a href="/dcmview/study/{{ first_series.dcm_study.UID }}">Study</a></li><li>Series</li></ol>

<div class ="row">
	<div class="col-md-12" id="dcm_header">
		<h4>{{ first_series.UID }}</h4>
	</div>
</div>
{% endwith %}

<div class="row">
	<div class="col-md-12" id="dcm_study">
		{% for item in series %}
			<a href="/dcmview/viewer/{{ item.sop_instance_uid }}"><img src="/media/{{ item.filename }}_thumb.png" class="img-thumbnail" /></a>
		{% endfor %}
	</div>
</div>
<br /><br />
{% endblock %}
