{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/view.css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.min.js"> </script>

{% if image.image_gen %}
<script type="text/javascript" src="{{STATIC_URL}}js/caman.full.min.js"> </script>
{% endif %}

<script type="text/javascript" src="{{STATIC_URL}}js/holder.js"> </script>

{% if image %}
<script type="text/javascript">
	//obj singleton used in dcmview.js
	var dcm = {

		"dicom": {{ dcm|safe }},
		"image_gen": {% if image.image_gen %}true{% else %}false{% endif %},
		"datatable": null

	};
</script>
{% endif %}

<script type="text/javascript" src="{{STATIC_URL}}js/view.js"> </script>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li>
		<a href="/main/explore">Search</a>
	</li>
	<li>
		{% if study %}
		<a href="/dcmview/study/{{ study.UID }}">Study</a>
		{% else %}
		Study
		{% endif %}
	</li>
	<li>
		{% if series %}
		<a href="/dcmview/series/{{ series.UID }}">Series</a>
		{% else %}
		Series
		{% endif %}
	</li>
	<li>DCM</li>
</ol>

<div class ="row">
	<div class="col-md-12" id="dcm_header">
		<h4>
			{% if series %}
			{{ series.UID }}
			{% else %}
			???
			{% endif %}
		</h4>
	</div>
</div>

{% if image %}
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-2">
				
				{% if image.image_gen %}
				<h6>Filters</h6>
				<hr />

				Contrast
				<input type="text" id="contrast" class="form-control filter" value="0" />
				Brightness
				<input type="text" id="brightness" class="form-control filter" value="0" />
				Exposure
				<input type="text" id="exposure" class="form-control filter" value="0" />
				Gamma
				<input type="text" id="gamma" class="form-control filter" value="1" />
				Hueee
				<input type="text" id="hue" class="form-control filter" value="0" />
				Saturation
				<input type="text" id="saturation" class="form-control filter" value="0" />
				<br />
				<button id="invert" class="btn btn-warning">Invert</button> <br /><br />
				<button id="apply" class="btn btn-success">Apply</button>
				<button id="reset" class="btn btn-link">Reset</button>
				{% endif %}

			</div>
			<div class="col-md-8">
				<h4>Diagnostic Image</h4>
				{% if image.image_gen %}
				<img src="/media/{{ image.filename }}.png" style="height: 500px; width: 500px;" class="img-rounded" id="dcmview_image" />
				{% else %}
				<img src="holder.js/500x500" style="height: 500px; width: 500px;" class="img-rounded" id="dcmview_image" />
				{% endif %}
				<div id="dcmview_status" class="alert alert-warning" style="margin: 5px; width: 490px;">Image Rendered</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Series Gallery</h4>
		<div class="row">
			<div class="col-md-12" id="study_gallery">
				{% if all_images %}
					{% for item in all_images %}

						{% if item.image_gen %}
						<a href="/dcmview/viewer/{{ item.UID }}" class="dcm_series">
							<img src="/media/{{ item.filename }}_thumb.png" class="img-thumbnail" style="margin: 2px; width: 100px; height: 100px;" />
						</a>
						{% else %}
						<img src="holder.js/100x100" class="img-thumbnail" style="margin: 2px; width: 100px; height: 100px;" />
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">

		<ul class="nav nav-tabs" id="dcm_tabs">
  			<li class="active"><a href="#data" data-toggle="tab">Meta-Data</a></li>
  			<li><a href="#discussion" data-toggle="tab">Discussion</a></li>
  			<li><a href="#export" data-toggle="tab">Download</a></li>
  		</ul>

  		<div class="tab-content">
  			<div class="tab-pane active" style="margin: 20px;" id="data">

				<table id="dcm" class="table table-striped">
				</table>

			</div>

  			<div class="tab-pane" style="margin: 20px;" id="discussion">

				<div id="discussion_response" class="alert alert-info">Discussion is a work in progress.</div>

			</div>

  			<div class="tab-pane" style="margin: 20px;" id="export">

				<a class="btn btn-info" href="/down/zip/dcm/{{ image.UID }}">Download DCM</a> <br /> <br />
				<a class="btn btn-primary" href="/down/zip/series/{{ image.UID }}">Download Series</a> <br /> <br />
				<a class="btn btn-success" href="/down/zip/study/{{ study.UID }}">Download Study</a> <br /> <br />

			</div>

		</div>

	</div>
</div>
{% else %}
	{% if msg %}
	<div class="alert alert-danger">{{ msg }}</div>
	{% endif %}
{% endif %}
<br /><br />
{% endblock %}
