{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/select2.css" />
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}js/select2.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/upload.js" type="text/javascript"></script>
<script type="text/javascript">
	var existing_studies = {{ existing_studies }};
</script>
{% endblock %}

{% block content %}
<form  action="/upload/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">

		<div class="span12">

			<div class="control-group" id="new_exist">

 				<label class="radio">
 					<input type="radio" name="new_or_existing" value="new">
 					New Series -- Do you want this DICOM to be part of a new collection of DICOM files?
 				</label>

 				<label class="radio">
 					<input type="radio" name="new_or_existing" value="existing">
 					Existing Series -- Do you want this DICOM to be part of an existing collection of DICOM files?
 				</label>

			</div>

			<div class="control-group" id="new_dcm_title" style="display: none;">

				<label for="new_title" class="control-label">Title</label>

				<div class="controls">
					<input type="text" id="new_title" name="new_title" class="input-xlarge">
				</div>

			</div>

			<div class="control-group" id="existing_dcm_title" style="display: none;">

				<label for="existing_title" class="control-label">Title</label>

				<div class="controls">
					<select class="inp_dcm_title" name="existing_title">
						{% if existing_studies %}
							{% for study in existing_studies %}
								<option value="{{ study.id }}">
									{{ study.title }}
									{% if study.public == True %}
									(Public)
									{% else %}
									(Private)
									{% endif %}
								</option>
							{% endfor %}
						{% endif %}
					</select>
				</div>

			</div>

			<div class="control-group">
				
				<label for="dicom_file" class="control-label">File</label>

				<div class="controls">
					<input type="file" id="dicom_file" name="dicom_file" class="input-large" />
				</div>

			</div>

			<div class="control-group" id="status_radio">

 				<label class="radio">
 					<input type="radio" name="status" value="public">
 					Public -- Anyone can view this DICOM file
 				</label>

 				<label class="radio">
 					<input type="radio" name="status" value="private">
 					Private -- Only you or people you should it with can view this DICOM file
 				</label>

			</div>

			<div class="control-group">

				<input type="hidden" name="new_study" id="new_study" value="">
				<button id="dicom_submit" class="btn btn-primary">Upload DICOM!</button>

			</div>

		</div>

	</div>

</form>

<div class="row">

	<div class="span8">

		{% if success %}
			<div class="alert alert-success">
				DICOM file has been uploaded! <br />
			</div>
		{% elif error %}
			<div class="alert alert-error">
				Error: {{ error }}
			</div>
		{% else %}
			<div class="alert">All DICOM files will be uploaded to our server while ensuring anonymity.</div>
		{% endif %}

	</div>

</div>




{% endblock %}