{% extends 'template.html' %}

{% block js %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
<form  action="/upload/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">

		<div class="span12">

			<div class="control-group">

				<label for="title" class="control-label">Title</label>

				<div class="controls">
					<!-- <input type="text" id="title" name="title" class="input-large" /> -->
					{{ form.title|add_class:"input-xlarge" }}
				</div>

			</div>

			<div class="control-group">
				
				<label for="dicom_file" class="control-label">File</label>

				<div class="controls">
					<!-- <input type="file" id="dicom_file" name="dicom_file" class="input-large" /> -->
					{{ form.dicom_file }}
				</div>

			</div>

			<div class="control-group">

				{% for radio in form.status %}
 					{{ radio }}
 				{% endfor %}

			</div>

			<div class="control-group">

				<button id="dicom_submit" class="btn btn-primary">Upload DICOM!</button>

			</div>

		</div>

	</div>

</form>

<div class="row">

	<div class="span8">

		{% if success %}
			<div class="alert alert-success">
				DICOM file has been uploaded! <br />
			</div>
		{% elif error %}
			<div class="alert alert-error">
				Error: {{ error }}
			</div>
		{% else %}
			<div class="alert">All DICOM files will be uploaded to our server while ensuring anonymity.</div>
		{% endif %}

	</div>

</div>




{% endblock %}