{% extends 'template.html' %}

{% block css %}
<link href="{{STATIC_URL}}css/jquery.fileupload-ui.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}js/jquery.ui.widget.min.js" type="text/javascript"></script>
<!-- <script src="{{STATIC_URL}}js/jquery.ui.progressbar.min.js" type="text/javascript"></script> -->
<script src="{{STATIC_URL}}js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.fileupload.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.fileupload-process.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.fileupload-ui.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/dcmupload.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
 <form id="fileupload" action="/dcmupload/handle_upload" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row-fluid fileupload-buttonbar">

		<div class="span8">

			<!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="fui-plus"></i>
                <span>Add DICOM files ...</span>
                <input type="file" name="files[]" multiple>
            </span>

            <button type="submit" id="send_files" class="btn btn-info start">
                <i class="fui-play"></i>
                <span>Start upload</span>
            </button>

            <!-- <button type="reset" class="btn btn-danger cancel">
                <i class="fui-cross"></i>
                <span>Cancel upload</span>
            </button> -->

            <!-- The loading indicator is shown during file processing -->
            <span class="fileupload-loading"></span>
       
        </div>

    </div>
    <div class="row-fluid">

		<div class="span8 fileupload-progress">

            <!-- The global progress bar -->
            <div id="progress" class="progress progress-striped">
                <div class="bar" style="width: 0%;"></div>
            </div>
            <!-- The extended global progress information -->
            <div class="progress-extended">&nbsp;</div>

        </div>

	</div>

	<div class="row-fluid">

		<div class="span8">

			<div id="display_uploads"></div>
       		<!-- <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table> -->

		</div>

	</div>

</form>

<div class="row-fluid">

	<div class="span8">

		{% if success %}
			<div class="alert alert-success">
				DICOM file has been uploaded! <br />
			</div>
		{% elif error %}
			<div class="alert alert-error">
				Error: {{ error }}
			</div>
		{% else %}
			<div class="alert">All DICOM files will be uploaded to our server while ensuring anonymity.</div>
		{% endif %}

	</div>

</div>


{% endblock %}