.hero-unit {
	margin-top: 100px;
}

small {
	font-size: 10px;
}

.tab_content {
	padding-left: 15px;
}

.dcm_loop {
	margin-bottom: 15px;
}

.dcm_search {
}

.dcmthumb {
	width: 150px;
	height: 150px;
}

/*MISC CLASSES*/
.clear {clear:both;}
.date {font-size:8pt;font-weight:normal;text-transform:lowercase;}
.hidden { display: none; }
.unhidden { display: block; }
