{% extends 'template.html' %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/portal.js"></script>
{% endblock %}

{% block content %}
<div class="row">
	
	<div class="span3">
	
		<a href="/users/logout">Logout</a> <br />

		<a href="/users/removeUser">Remove Account</a> <br />

		{% if validated %}
			<small>Email Validated!</small>
		{% else %}
			<a href="">Validate Email</a>
		{% endif %}

	</div>

	<div class="span9">

		<h4 style="margin-top: 0px;">{{ user.first_name }}'s Repository</h4>

		<ul class="nav nav-tabs" id="dcm_tabs">
  			<li class="active"><a href="#public" data-toggle="tab">Public</a></li>
  			<li><a href="#private" data-toggle="tab">Private</a></li>
  		</ul>

  		<div class="tab-content">
  			<div class="tab-pane active tab_content" id="public">

  				{% if public %}
					{% for dcm in public %}
						<div class="dcm_loop row-fluid">
							<div class="span3">
								<img data-src="holder.js/100x100" class="img-polaroid" />
							</div>
							<div class="span7">
								<a href="#">{{ dcm.title }}</a> ({{ dcm.modality }}) <br />
								<small>{{ dcm.created_at }}</small>
							</div>
						</div>
					{% endfor %}
				{% endif %}

  			</div>
  			<div class="tab-pane tab_content" id="private">

  				{% if private %}
					{% for dcm in private %}
						<div class="dcm_loop row-fluid">
							<div class="span3">
								<img data-src="holder.js/100x100" class="img-polaroid" />
							</div>
							<div class="span7">
								<a href="#">{{ dcm.title }}</a> ({{ dcm.modality }}) <br />
								<small>{{ dcm.created_at }}</small>
							</div>
						</div>
					{% endfor %}
				{% endif %}

  			</div>
  		</div>

	</div>

</div>
{% endblock %}