<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name=”description” content=”DCMDB is an open-source, open-access search engine for medical diagnostic images (DICOMS)”>

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flat-ui.css" />
		{% block css %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

		<title>DCMDB | Public DICOM Search Engine</title>
		
		<script type="text/javascript">
			var id = '{{ id }}';
		</script>

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"> </script>
		<!-- <script type="text/javascript" src="{{STATIC_URL}}js/holder.js"> </script> -->
		<script type="text/javascript" src="{{STATIC_URL}}js/dicom_core.js"> </script>
		{% block js %}{% endblock %}
	
	</head>

	<body>

		<div class="navbar ">

			<div class="navbar-inner">

				<a class="brand" href="/"> dcmdb</a>
				<ul class="nav dcm_nav">
					<li class="active"><a href="/">Explore</a></li>
					<li><a href="/dcmupload/">Upload</a></li>
					<li><a href="/main/about/">About</a></li>
				{% if user.is_authenticated %}
					<!-- <li><a href="/users/">Profile</a></li> -->
					<!-- <li><a href="/users/logout/">Logout</a></li> -->
				{% else %}
					<!-- <li><a href="/users/login/">Login</a></li> -->
					<!-- <li><a href="/users/register/">Register</a></li> -->
				{% endif %}
				</ul>

				<form class="navbar-form pull-right" style="margin-right: 10px;">
    				<input type="text" name="dcm_search" id="dcm_search" class="span4 dcm_search" placeholder="Search for a DICOM file ...">
    				<button type="submit" class="btn btn-primary"><i class="icon-search icon-white"> </i> </button>
    			</form>

			</div>

		</div>
		
		<div id="content" class="container">
			
			{% block content %}{% endblock %}
			
		</div>
	
	</body>

</html>
