<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

		<title>DICOM DB</title>
		
		<script type="text/javascript">
			var id = '{{ id }}';
		</script>

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/dicom_core.js"> </script>
		{% block js %}{% endblock %}
	
	</head>

	<body>
	
		<!-- <div class="hero-unit">
		
			<h1><a class="header_title" href="/">DICOM DB</a></h1>
			<p>Diagnostic file search engine</p>

		</div> -->

		<div class="navbar">

			<div class="navbar-inner">

				<a class="brand" href="#">DICOM DB</a>
				<ul class="nav">
					<li><a href="/">Search</a></li>
					<li><a href="/users/">Profile</a></li>
					<li><a href="/main/about">About</a></li>
				</ul>

			</div>

		</div>
		
		<div id="content" class="container">
			
			{% block content %}{% endblock %}
			
		</div>
	
	</body>

</html>