<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name=”description” content=”DCMDB is an open-source, open-access search engine for medical diagnostic images (DICOMS)”>

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
		{% block css %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

		<title>DCMDB | Public DICOM Search Engine</title>
		
		<script type="text/javascript">
			var id = '{{ id }}';
		</script>

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.3.min.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/dicom_core.js"> </script>
		{% block js %}{% endblock %}
	
	</head>

	<body>

		<div class="navbar navbar-fixed-top">

			<div class="navbar-inner">

				<a class="brand" href="/" style="margin-left: 10px;"> dcmdb</a>
				<ul class="nav dcm_nav">
					<li><a href="/main/about/">About</a></li>
				</ul>

			</div>

		</div>
		
		<div id="content" class="container">
			
			{% block content %}{% endblock %}
			
		</div>
	
	</body>

</html>
