{% extends 'template.html' %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/holder.js"> </script>
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h4>Explore</h4>
		</div>
	</div>

	<div id="explore" class="row">

		<div class="col-md-12">

			{% for item in series %}
				{% if item.image_gen %}
				<a href="/dcmview/study/{{ item.dcm_study.UID }}"><img src="/media/{{ item.filename }}_thumb.png" class="img-thumbnail dcmthumb" /> </a>
				{% else %}
				<a href="/dcmview/study/{{ item.dcm_study.UID }}"><img src="holder.js/150x150" class="img-thumbnail dcmthumb" /> </a>
				{% endif %}
			{% endfor %}

		</div>

	</div>

{% endblock %}