{% extends 'template.html' %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/index.js"></script>
{% endblock %}

{% block content %}

	<div class="hero-unit">
		
		<h1>DICOM Database</h1>
		<p>
			Diagnostic file search engine
		</p>

	</div>

	<div id="explore">

		{% for series in dcms %}
			<img src="/media/{{ series.dcm_study.user_ID.first_name|lower }}/public/{{ series.filename }}.png" class="img-polaroid" style="width: 100px; height: 100px;" /> 
		{% endfor %}

	</div>

{% endblock %}