<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

		<title>dcmdb | Public DICOM Search Engine</title>
		
		<script type="text/javascript">
			var id = '{{ id }}';
		</script>

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/holder.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/dicom_core.js"> </script>
	
	</head>

	<body>

		<div class="navbar navbar-fixed-top">

			<div class="navbar-inner">

				<a class="brand" href="/" style="margin-left: 10px;"> dcmdb</a>
				<ul class="nav dcm_nav">
					<li><a href="#">Under Construction!</a></li>
				</ul>

			</div>

		</div>
		
		<div id="content" class="container">
			
			<div class="hero-unit">
		
				<h1>DICOM Database</h1>
				<p>
					Diagnostic file search engine <br />
					Currently Under Construction. <br />
					Questions? Email <a href="mailto:neurosnap@gmail.com">me</a>
				</p>

			</div>
			
		</div>
	
	</body>

</html>
